/* ****************************************************   MENU   *********************************************************** */
body, html {
    height: 100%;
    width:100%;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2D8736!important;
  }

input:focus{
    outline: none;
  }
  
.menu{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: white;
    position: relative;
}
.menu-logo img{
    margin:0px 20px;
    margin-top: 5px;
    height: 60px;
}
.menu-menu{
    list-style-type: none;
    display: flex;
    margin: 0;
    height: 100%;
}
.menu-menu .nav-link{
    text-decoration: none;
    color: black!important;
    font-size: 18px;
}
.menu-menu li{
    padding: 5px 15px;
    align-items: center;
    position: relative;
}
.menu-menu li:hover .nav-link{
    color: #2D8736!important;
    text-decoration: none;
}
.menu-user{
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
}
.menu-user img{
    height: 60px;
}
.menu-user p{
    line-height: 60px;
    margin-right:5px ;
    font-size: 20px;
}
.dropdown-item{
    font-size: 20px!important;
}

/* *****************************************************   CONTAINER   ************************************************************** */

.containerr{
    display: flex;
    padding: 0px 15px;
}
.container-child{
    display: flex;
    background-color: white;
    height: 140px;
    width:25%;
    margin-top: 30px;
    margin-left:15px;
    margin-right:15px;
}
.container-child img{
    height: 100px;
    margin: 20px;
}
.container-number{
    margin:20px;
    flex-grow: 4;
    border: 2px solid #2D8736;
    border-radius: 5px;
    height: 50px;
    text-align: center;
}
.container-number span{
    font-size: 30px;
}
.container-number p{
    font-size: 25px;
    color:red;
    margin:10px;
}

/* *******************************************************   CHART  *************************************************************************** */

.groupchart{
    margin:30px;
    border:3px solid white;
}
.groupchart_title{
    color:white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 10px ;
    background-color: #085805;
}








